version: '3.7'

services:
  app:
    build:
      context: .
    container_name: app
    command: bash -c "cd backend && uvicorn main:app --workers 4 --host 0.0.0.0 --port $PORT"
    ports:
      - $PORT